@import "main";

.notification {
  position: absolute;
}

.header-holder{
  padding: 1% 4% 1% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;

  p{
    margin-right: 4px;
    color: white;
    font-weight: 300;
  }

  a{
    color: white !important;
    margin-left: 4px;
    font-weight: 700;
  }
}

.header-title{
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: .5px;
  color: white !important;
}
