.notification {
  position: absolute;
}

.header-holder{
  margin: 1% 4% 1% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p{
    margin-right: 4px;
  }

  a{
    margin-left: 4px;
  }
}

.header-title{
  font-size: 1.5em;
  color: black !important;
}
