.company-show-holder{
  height: 100%;
  display: grid;
  grid-template-rows: 40% auto;
}

//Company Info/Bio

.company-holder{
  height: 100%;
}

.company-holder-info-bio{
  display: grid;
  grid-template-columns: 25% auto;
}

.company-info-holder{
  margin: 4%;

  h2{
    font-weight: 200;
  }

  a{
    font-weight: 200;
  }
}

.company-bio-holder{
  margin: 4%;
  font-family: 'Lora', serif;
}

.company-credit-card-holder{
  display: flex;
  align-content: flex-start;
  align-items: center;

  div{
    margin: 0;
  }

  h2{
    margin-right: 2%;
  }
}

//Trucks


//Comments

.company-comments-holder{
  margin: 2% 30% 4% 30%;
}
