@import 'main';

.companies-sidebar-holder{
  text-align: center;

  a{
    font-weight: 200;
  }

  p{

  }

  h1{
  }

  h2{
    font-size: .8em;
  }
}

.truck-list-holder{
  margin-top: 5%;
}

.companies-create-btn{
  margin-bottom: 5px;
}

.companies-truck-btn{
  margin: 2px 0 2px 0;
}

/* ID Selectors */

#trucks-title{
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}

#trucks-title::after {
  content: " ";
  display: block;
  height: .2em;
  background: black;
  margin: 0 30%;
}
