@import 'main';

.companies-sidebar-holder{
  text-align: center;

  a{
    font-weight: 200;
    font-size: 1em;
  }
}

.my-company{
  color: $red !important;
}

.truck-list-holder{
  margin-top: 5%;
}

.companies-create-btn{
  margin-bottom: 5px;
}

.companies-truck-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2px 0 2px 0;
}

/* ID Selectors */

#trucks-title{
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}

#trucks-title::after {
  content: " ";
  display: block;
  height: .2em;
  background: black;
  margin: 0 30%;
}
