@import 'main';

.trucks-holder{
  margin: 2% 0 4% 0;
}

.truck-holder{
  margin: 0 10px 0 10px;

  h2{
    font-weight: 700;
  }

  p{
    font-size: .8em;
  }

  a{
    color: $red !important;
  }
}

.infowindow{
  color: $black !important;
  font-weight: 200 !important;
}

.infowindow-title{
  color: $black !important;
  font-size: 2em;
}

/* ID Target */
#truck-add-btn{
  margin-top: 4%;
}

#add-truck-btn{
  margin-bottom: 15%;
}

#trucks-holder{
  display: flex;
  flex-direction: row;
}
