<%= form_for company, :html => {:id => "company-show-bio", :class => "form-group"}, remote: true do |f| %>
  <%= f.text_area :bio %>
  <%= f.submit "update", :html => {:class => 'btn btn-light'} %>
<% end %>

<button id="company-show-edit-description" value="false" type="button" class="btn btn-light">Edit Description</button>
