<div class="collapse" id="collapse_comments">
  <div class="company-comment-holder">
    <% comments.each do |comment| %>
      <div id="comment-holder" class="company-comment-holder">
        <% if comment.name.empty? %>
            <p class="comment-name">anonymous</p>
        <% else %>
          <p class="comment-name">
            <%= comment.name %>
          </p>
        <% end %>
        <p class="comment-body"> <%= comment.body %> </p>
        <p class="comment-date"> <%= comment.created_at %> </p>
      </div>
    <% end %>

    <% if cannot? :update, company %>
      <%= link_to "+", create_comment_company_path(company), method: :post, remote: true, data: {disable_with: "..."}, class: "btn btn-light"%>
    <% end %>
  </div>
</div>
