<h1 id="trucks-title">Trucks</h1>

<% if current_user %>
  <p class="companies-create-btn">
    <%= link_to "(+)  ", new_company_path  %>
  <p>
<% end %>

<% companies.each do |company| %>
  <h2 class="companies-truck-btn">
      <%= link_to company.name, company_path(company) %>
  </h2>
<% end %>
