<h1 id="trucks-title">Trucks</h1>

<% if current_user %>
  <p class="companies-create-btn">
    <%= link_to "(+)  ", new_company_path  %>
  <p>
<% end %>

<div class="truck-list-holder">
  <% companies.each do |company| %>
    <% if can? :update, company %>
      <h2 class="companies-truck-btn">
          <%= link_to company.name, company_path(company)%> <p class="my-company"><</p>
      </h2>
    <% else %>
      <h2 class="companies-truck-btn">
          <%= link_to company.name, company_path(company) %>
      </h2>
    <% end %>
  <% end %>
</div>
<!-- Great job using partials -->
