<% if @comment.name.empty? %>
  $('#comment-holder').append( "<p class='comment-name'>anonymous</p>" )
<% else %>
  $('#comment-holder').append( "<p class='comment-name'><%= @comment.name %></p>" )
<% end %>
$('#comment-holder').append( "<p class='comment-body'><%= @comment.body %></p>" )
$('#comment-holder').append( "<p class='comment-date'><%= @comment.created_at %></p>" )
