<div class="companies-holder">
  <div class="map-holder">
      <div id="map"></div>
  </div>

  <div class="companies-sidebar-holder flex-column">
    <%= render :partial => "sidebar", :locals => {:companies => @companies} %>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {
    center: {lat: 38.9072, lng: -77.0369},
    zoom: 12,
    minZoom: 12
  }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
  });
</script>
