<div class="companies-holder">
  <div class="intro-holder">
      <div id="map"></div>
      <!-- <div>
        <h1>Welcome! To DC Food Trucks</h1>
        <h2>A one stop location of all food trucks</h2>
      </div> -->
  </div>

  <div class="companies-sidebar-holder flex-column">
    <%= render :partial => "sidebar", :locals => {:companies => @companies} %>
  </div>
</div>

<%= content_tag :div, id: "map_index_data", class: "temp_information", data:@hash.to_json do %>
<% end %>
