<div class="companies-holder">
  <div class="companies-map-holder">

  </div>

  <div class="companies-sidebar-holder flex-center">
    <%= render :partial => "sidebar", :locals => {:companies => @companies} %>
  </div>

</div>
