html,body{
  height: 100%;
}

html{
  font-family: 'Open Sans', sans-serif;
}

body{
  display: grid;
  grid-template-rows: 7% auto;
}

p{
  font-weight: 300;
  margin: 0;
  font-size: 1em;
}

a{
  font-weight: 400;
  text-decoration: none !important;
}

h1{
  font-weight: 700;
  font-size: 2.5em;
}

h2{
  font-weight: 400;
  font-size: 1.3em;
}

/* Cross Page Generic Styles */

.page-margin{
  margin: 0 20% 0 20%;
}

.textarea {
   resize: none;
   height: 100%;
   width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.temp_information{
  display: none;
}

.hidden{
  display: none !important;
}

.show{
  display: block;
}

/* Quick Flexbox styling */

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Quick Letter Colors */

$good-color: #00b33c;
$bad-color: #b30000;

.positive-font {
  color: $good-color !important;
}

.negative-font {
  color: $bad-color !important;
}
